.vue-daterange-picker {
    .reportrange-text {
        height: 40px;
        display: flex;
        >span {
            margin: auto 0;
        }
    }
}

#modal-add-task {
    .btn-exitmodal {
        width: auto;
    }
}